body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Alagoas{
    display: flex;
    height: 400px;
    
}
.Alagoas-1{
    width: 200px;
    height: 400px;
    background-color: brown;
}
.Alagoas-2{
    width: 200px;
    height: 400px;
    background-image: url("A.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Alagoas-3{
    width: 200px;
    background-color: blue;
    height: 400px;

}






body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.f{
    display: flex;
    height: 400px;
    
}
.f-1{
    width: 200px;
    height: 400px;
    background-color: brown;
}
.f-2{
    width: 200px;
    height: 400px;
}
.f-3{
    width: 200px;
    background-color: blue;
    height: 400px;

}




body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.i{
    display: flex;
    height: 400px;
    
}
.i-1{
    width: 200px;
    height: 400px;
    background-color: rgb(21, 150, 16);
}
.i-2{
    width: 200px;
    height: 400px;
   
}
.i-3{
    width: 200px;
    background-color: rgb(250, 18, 18);
    height: 400px;

}

body{
    display: flex;
    align-items: center;
    
}

.a{
   
    display: flex;
    height: 400px;
    flex-direction: column;
}
.a-1{
    width: 600px;
    height: 400px;
    background-color: rgb(0, 0, 0);
}
.a-2{
    width: 600px;
    height: 400px;
   background-color: rgb(255, 0, 0);
}
.a-3{
    width: 600px;
    background-color: rgb(247, 230, 0);
    height: 400px;

}


body{
    display: flex;
    align-items: center;
    
}

.ar{
   
    display: flex;
    height: 400px;
    flex-direction: column;
}
.ar-1{
    width: 600px;
    height: 400px;
    background-color: rgb(18, 211, 236);
}
.ar-2{
    width: 600px;
    height: 400px;
   background-color: rgb(255, 255, 255);
   background-image: url("OIP.jfif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.ar-3{
    width: 600px;
    background-color: rgb(18, 211, 236);
    height: 400px;

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.n{
    display: flex;
    height: 400px;
    
}
.n-1{
    width: 200px;
    height: 400px;
    background-color: rgb(10, 124, 0);
}
.n-2{
    width: 200px;
    height: 400px;
}
.n-3{
    width: 200px;
    background-color: rgb(10, 124, 0);
    height: 400px;

}


body{
    display: flex;
    align-items: center;
    
}

.h{
   
    display: flex;
    height: 400px;
    flex-direction: column;
}
.h-1{
    width: 600px;
    height: 400px;
    background-color: rgb(255, 1, 1);
}
.h-2{
    width: 600px;
    height: 400px;
   background-color: rgb(255, 255, 255);
}
.h-3{
    width: 600px;
    background-color: rgb(0, 44, 190);
    height: 400px;

}

body{
    display: flex;
    align-items: center;
    
}

.au{
   
    display: flex;
    height: 400px;
    flex-direction: column;
}
.au-1{
    width: 600px;
    height: 400px;
    background-color: rgb(255, 0, 0);
}
.au-2{
    width: 600px;
    height: 400px;
   background-color: rgb(255, 255, 255);
}
.au-3{
    width: 600px;
    background-color: rgb(255, 0, 0);
    height: 400px;

}







